# GWT project
/gwt/test-classes/
/gwt/war/cti/
/gwt/war/jcd/
/gwt/war/pushpoc/
/gwt/war/users/
/gwt/war/websockets/
/gwt/war/WEB-INF/classes/
/gwt/tomcat/
/gwt/www-test/
/gwt/pushgwt.war

# WebSocket project
/ws/test-classes/
/ws/war/pushpoc/
/ws/war/WEB-INF/classes/
/ws/tomcat/
/ws/www-test/
/ws/pushws.war

