# GWT project
/gwt/test-classes/
/gwt/src/main/webapp/cti/
/gwt/src/main/webapp/jcd/
/gwt/src/main/webapp/pushpoc/
/gwt/src/main/webapp/users/
/gwt/src/main/webapp/websockets/
/gwt/src/main/webapp/WEB-INF/classes/
/gwt/tomcat/
/gwt/www-test/
/gwt/pushgwt.war
/gwt/target

# WebSocket project
/ws/test-classes/
/ws/war/pushpoc/
/ws/src/main/webapp/WEB-INF/classes/
/ws/tomcat/
/ws/www-test/
/ws/pushws.war
/ws/target
/ws/war

