/** Add css rules here for your application. */

body {
	margin: 5px;	
}

div.news {
	border: 1px solid #DDDDDD;
	padding: 3px;
	width: 400px;
	height: 120px;
	overflow: auto;	
}

div.news-item .date {
	padding: 5px;
	color: #DDDDDD;
	font-weight: bold;
}

div.news-item .message {
	padding: 5px;
}

div#service {
	position: absolute;
	top: 5px;
	right: 5px;
	font-weight: bold;	
}
div#service.online {
	color: #33CC33;
}
div#service.offline {
	color: #CC3333;
}

div#admin {
	position: absolute;
	padding: 5px;
	bottom: 5px;
	width: 100%;
	height: auto;
	border-top: 2px solid #DD3333;
}

div#admin input#news-field {
	width: 300px;
}
